#wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}


#svg-one{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

svg{
    overflow: visible !important;
}

